.multiple-items{
    width: 100%;
    height: 100%;
}
.block{
    width: 200px;
    height: 200px;
}
.image-block{
    width: 100%;
    height: 100%;
}
#custom-products{
    width: 100%;
    height: 100%;
}